


.posts {
  .overlay {
    position: absolute;
    & > div {
      h1 {
        color: #000000;
        opacity: none;
        font-size: 100px;
        text-align: center;
      }
    }
  }

  & > div > div > img {
      opacity: 0.5;
  }
}
