.image-header {
  .overlay {
    position: absolute;
    width: 100%;
    top: 0px;
    color: #000000;
    opacity: 0.5;
    background-color: white;
    h1 {
      margin: 10vmin 10vmin 10vmin 10vmin;
      width: auto;
      font-size: 10vmin;
      text-align: center;
      line-height: 30vmin;
    }
    z-index: 1;
  }
  .title-image {
    margin: 10vmin 10vmin 10vmin 10vmin;
    height: 30vmin;
    z-index: -1;
  }
}
