.image-header {
  .overlay {
    h1 {
      margin: 0 0 0 0;
      width: calc(100% - 20vmin);
      font-size: 10vmin;
      margin-left: 10vmin;
      margin-right: 10vmin;
      text-align: center;
      display: flex;
      height: 30vmin;
      align-items: center;
      justify-content: center;
      opacity: 1.0;
      z-index: 2;
      position: absolute;
    }
    .opacity-screen {
      background-color: white;
      opacity: 0.5;
      z-index: 1;
      width: calc(100% - 20vmin);
      margin-left: 10vmin;
      margin-right: 10vmin;
      height: 30vmin;
      position: absolute;
    }
  }
  .title-image {
    margin: 10vmin 10vmin 10vmin 10vmin;
    height: 30vmin;
    z-index: -1;
  }
}
