@import 'colors';

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
  padding: 0;
  margin: 0;
  color: $black;
  .back-home {
    margin: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

* {
  font-family: Montserrat;
  border-color: $lightest-gray;
}

a:visited, a:link {
  color: $black;
  text-decoration: none;
}
