@import '~styles/colors';

.merits {
  .merit-links {
    width: calc(100vw - 20vmin);
    margin: 20px 10vmin 20px 10vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    button {
      width: 250px;
      height: 75px;
      font-size: 21px;
      margin-left: 25px;
      margin-right: 25px;
      margin-bottom: 25px;
      border-radius: 5px;
      background-color: $lightest-gray;
    }
  }
}
